body {
    background-color: #f1f5f7 !important;
}

.container {
    max-width: 992px;
    background-color: #fff;
    padding: 1.5rem;
}

.monto {
    background-color: #bc0d0d;
    background-image: linear-gradient(to right, #651513, #801514, #9b1414, #b81112, #d40d0d);
    letter-spacing: -1px;
}

.items {
    border: 1px solid #e9edef;
    border-top: 0;
}

.monto h1 {
    line-height: 1;
}

.monto h2,
.monto h6 {
    color: #fff !important;
    margin-bottom: 0;
}

.monto h2 {
    letter-spacing: -2px;
}

.card {
    border-color: #dadde0;
    border-radius: 0;
}

.display-4 {
    font-size: 2.9rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -3px;
}

.text-primary {
    color: #d40d0d !important;
}

.text-cpmp {
    color: #b20000 !important;
}

.inner-box .product-ribbon {
    position: absolute;
    top: 14px;
    left: 0;
    padding: 6px 8px;
    border-radius: 0 30px 30px 0;
    border-color: #28a745;
    z-index: 100;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
}

* {
    -webkit-print-color-adjust: exact;
}

.descripcion-planes {
    margin: 50px auto 10px;
    padding: 0 2em;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.car-block {
    position: relative;
    margin-bottom: 1.5rem;
}

.inner-box {
    position: relative;
    border: 1px solid #e9edef;
}

.inner-box hr {
    margin: 0;
    border-top: 1px solid #e9edef;
}

.inner-box .image {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e9edef;
}

.inner-box .image .price {
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* color: #232527; */
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 16px 2px 10px;
    /* background-color: #e9edef; */
    background-color: #d40d0d;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.inner-box .image .price:before {
    position: absolute;
    content: '';
    left: -25px;
    top: 0px;
    /* border-bottom: 32px solid #e9edef; */
    border-bottom: 32px solid #d40d0d;
    border-left: 25px solid transparent;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.inner-box h3 {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.inner-box .lower-box {
    position: relative;
    padding: 8px;
    background-color: #e9edef;
}

.inner-box .combined-plans {
    position: relative;
    padding: 8px;
    background-color: #d5dae0;
}

.inner-box .lower-box .details {
    position: relative;
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
}

.inner-box .lower-box .details li {
    vertical-align: middle;
    position: relative;
    color: #666a6c;
    padding-left: 24px;
    padding-right: 10px;
    margin-right: 5px;
    display: inline-block;
    border-right: 1px solid #999;
}

.inner-box .lower-box .details li:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border: 0px;
}

.inner-box .lower-box .details li .icon {
    position: absolute;
    left: 0px;
    top: -3px;
    font-size: 18px;
}

.inner-box .brand {
    padding: 8px;
}

.inner-box .brand-logo {
    max-height: 36px !important;
    margin-right: 10px;
}

.inner-box .features {
    padding: 8px;
}

.inner-box .features ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 95%;
    list-style-type: none;
}

.inner-box .features ul li {
    margin-right: 28px;
}

.inner-box .features ul li:before {
    content: "•";
    float: left;
    text-indent: -16px;
    color: #cdd0d2;
    font-size: 1.2rem;
    line-height: 1em;
    margin-right: 0;
}

.modal-content {
    border: none !important;
}